@{
    ViewBag.Title = "DashBoard";
    ViewBag.Name = HttpContext.Current.Session["Username"];
}

<h2>DashBoard</h2>
@if (HttpContext.Current.Session["Username"] != null)
{
    <p>Welcome <b>@ViewBag.Name</b></p>
    <p>You have access to</p>
    <ul>
        @try
        { 
            foreach (var page in Session["Pages"] as List<string>)
        {
                <li>
                    <span>@page</span>
                </li>
            }
        }
        catch
        {
            <li>
                <span>No Pages</span>
            </li>
        }
    </ul>
}
else
{
    <p>Sorry couldn't identify users</p>
}

